<html>
    <head>
        <title>Document</title>
    </head>
    <body>
         Form
        <form action="{% url 'update' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            Email Id : <input type="text" name="emailId" value="{{customer.emailId}}" required><br>
            CustomerName : <input type="text" name="C_name" value="{{customer.C_name}}" required><br>
            CustomerPassword : <input type="text" name="C_password" value="{{customer.C_password}}" required><br>
            Aadhar No : <input type="text" name="aadhar_no" value="{{customer.aadhar_no}}"required><br>
            Address : <input type="text" name="address" value="{{hotel.address}}" required><br>
            Contact No : <input type="text" name="contact" value="{{hotel.contact}}" required><br>
            <input type="submit" value="updatecustomers"><br>
        </form>
    </body>
</html>        